<template lang='pug'>
  .item
    .title(@click='data.opened = !data.opened')
      h2 {{ data.name }}
      .status {{ statuses[data.status] }}
    template(v-if='data.opened')
      template(v-for='(value, index) in data.items')
        SubItem(:data='value' :key='index')
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import SubItem from './subItem/index.vue'

const ItemProps = Vue.extend({
  props: {
    data: {
      type: Object,
      required: true
    }
  }
})

@Component({
  components: {
    SubItem
  }
})
export default class Category extends ItemProps {
  statuses = {
    'active': 'Активный',
    'edit': 'Редактируется'
  }
}
</script>

<style lang='scss' scoped>
  .item {
    margin-bottom: 15px;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      h2 {
        font-size: 18px;
        display: flex;
      }

      .status {

      }
    }
  }
</style>