<template lang='pug'>
  .search
    input(v-model='searchInput' @input='searchByInput')
    p Введите значение для поиска {{ searchText }}
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

const SearchProps = Vue.extend({
  props: {
    searchText: {
      type: String,
      default: ''
    }
  }
})

@Component({
})
export default class Search extends SearchProps {
  private searchInput = ''

  searchByInput() {
    this.$emit('onSearch', this.searchInput);
  }
}
</script>

<style lang='scss' scoped>
  .search {
    margin-bottom: 20px;

    input {
      width: 100%;
      border: 1px solid #d9d9d9;
      margin-bottom: 8px;
    }

    p {
      font-size: 14px;
      color: #999;
    }
  }
</style>