<template lang='pug'>
  .sub-item
    p.name {{ data.name }}
    .value(@click='startEdit')
      template(v-if='isEdit')
        input.value-edit(v-model='editedValue')
      template(v-else)
        p {{ data.value }}
    .save
      button(@click='finishEdit') save
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

const SubItemProps = Vue.extend({
  props: {
    data: {
      type: Object,
      required: true
    }
  }
})

@Component({
})
export default class Category extends SubItemProps {
  isEdit = false;
  editedValue = 0;

  startEdit() {
    this.isEdit = true;
    this.editedValue = +JSON.parse(JSON.stringify(this.data.value));
  }

  finishEdit() {
    this.data.value = this.editedValue;
    this.isEdit = false;
  }
}
</script>

<style lang='scss' scoped>
  .sub-item {
    display: flex;
    align-items: center;
    margin-left: 28px;
    height: 40px;
    border-bottom: 1px solid #d9d9d9;
    font-size: 14px;
    font-weight: 500;

    .name{
      width: 50%;
    }

    .value,
    .save {
      width: 25%;
    }
  }
</style>