<template lang='pug'>
  .category(:class='{ hidden: !category.opened }')
    .name(@click='category.opened = !category.opened')
      svg(aria-hidden="true" focusable="false" data-prefix="fas" data-icon="folder" class="svg-inline--fa fa-folder fa-w-16 CategoryItemComponent__title__icon CategoryItemComponent__title__icon_folder" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
        path(fill="currentColor" d="M464 128H272l-64-64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V176c0-26.51-21.49-48-48-48z")
      p {{ category.name }}
    template(v-if='category.opened')
      template(v-if='category.child')
        template(v-for='(value, index) in category.child')
          Subcategory(:subcategory='value' :key='index')
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Subcategory from './subcategory/index.vue'

const CategoryProps = Vue.extend({
  props: {
    category: {
      type: Object,
      required: true
    }
  }
})
@Component({
  components: {
    Subcategory
  }
})

export default class Category extends CategoryProps {
}
</script>

<style lang='scss' scoped>
  .category {
    margin-bottom: 8px;

    .name {
      display: flex;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
        color: #f7c441;
        margin-right: 8px;
      }
    }
    &.hidden {
    }
  }
</style>