<template lang='pug'>
  .page-wrapper
    .panels
      LeftPanel(:categories='categories')
      RightPanel
    //template(v-for='(category, index) in categories')
      .category(:key='`category#${index}`')
        p {{ category.name }}
        template(v-for='(subcategory, subIndex) in category.subcategories')
          .subcategory(:key='`subcategory#${subIndex}`')
            p {{ subcategory.name }}
            template(v-for='(item, itemIndex) in subcategory.items')
              .item(:key='`item#${itemIndex}`')
                p {{ item.name }}
                template(v-for='(subItem, subItemIndex) in item.data')
                  .item(:key='`subItem#${subItemIndex}`')
                    p {{ subItem.name }}

        
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { categories } from '@/mock/data.json';
import LeftPanel from '@/components/leftPanel/index.vue';
import RightPanel from '@/components/rightPanel/index.vue';


const HomeProps = Vue.extend({

})

@Component({
  components: {
    LeftPanel,
    RightPanel
  },
})
export default class Home extends Vue {
  get categories() {
    return categories;
  }
}
</script>
<style lang="scss" scoped>
.panels {
  display: flex;
  height: 100vh;
}
</style>