<template lang='pug'>
  .left-panel
    Search(@onSearch='onSearch')
    template(v-for='(value, index) in searchedCategories')
      Category(:category='value' :key='index')
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Search from '@/components/global/search/index.vue';

const LeftPanelProps = Vue.extend({
  props: {
    categories: {
      type: Array,
      required: true
    }
  }
})

@Component({
  components: {
    Search
  }
})
export default class LeftPanel extends LeftPanelProps {
  searchText = '';

  get searchedCategories() {
    if (!this.searchText || this.searchText.length == 0) {
      return this.categories;
    }

    return this.categories.reduce((acc: any, v) => {
      if (this.find(v, this.searchText)) {
        acc.push(v);
      }

      return acc;
    }, []);
  }

  find(child: any, name: string) {
    if (child.name.includes(name.toLowerCase())) {
      return true;
    }

    if (!child.child) {
      return false;
    }

    return child.child.find((v: any) => this.find(v, name));
  }

  onSearch(searchText: string) {
    this.searchText = searchText;
  }
}
</script>

<style lang='scss' scoped>
.left-panel {
  width: 35%;
  padding: 15px;
  background: #f7f7f7;
  border-right: 1px solid #d9d9d9;
}
</style>