<template lang='pug'>
  .right-panel
    template(v-if='currentItem')
      Search(@onSearch='onSearch')
      template(v-for='(value, index) in searchedData')
        Item(:data='value')
    template(v-else)
      p выберите категорию
</template>

<script>
import Vue from 'vue'
import Component from 'vue-class-component'
import Search from '@/components/global/search/index.vue';
import Item from './item/index.vue';

const RightPanelProps = Vue.extend({

})


@Component({
  components: {
    Search,
    Item
  }
})
export default class RightPanel extends RightPanelProps {
  search = null;
  
  get currentItem() {
    return this.$store.state.currentItem;
  }

  get searchedData() {
    if (!this.search) {
      return this.currentItem.data;
    }
    return this.currentItem.data.reduce((acc, v) => {
      if (v.items.find(item => item.name.includes(this.search))) {
        acc.push(v);
      }

      return acc;
    }, [])
  }

  onSearch(searchField) {
    this.search = searchField;
  }
}
</script>

<style lang='scss' scoped>
  .right-panel {
    width: 65%;
    padding: 15px;
    background: #f7f7f7;
  }
</style>