<template lang='pug'>
  #app
    Header
    .container
      router-view
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Header from '@/components/global/Header/index.vue';

@Component({
  components: {
    Header,
  },
})
export default class App extends Vue {}

</script>


<style lang="scss">
@import '@/assets/reset.scss';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #24282c;
}

.container {
  padding: 0 10vw;
}
</style>
