<template lang='pug'>
  .subcategory
    .name(@click='subcategory.opened = !subcategory.opened')
      svg(aria-hidden="true" focusable="false" data-prefix="fas" data-icon="layer-group" class="svg-inline--fa fa-layer-group fa-w-16 SubCategoryItemComponent__title__icon " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
        path(fill="currentColor" d="M12.41 148.02l232.94 105.67c6.8 3.09 14.49 3.09 21.29 0l232.94-105.67c16.55-7.51 16.55-32.52 0-40.03L266.65 2.31a25.607 25.607 0 0 0-21.29 0L12.41 107.98c-16.55 7.51-16.55 32.53 0 40.04zm487.18 88.28l-58.09-26.33-161.64 73.27c-7.56 3.43-15.59 5.17-23.86 5.17s-16.29-1.74-23.86-5.17L70.51 209.97l-58.1 26.33c-16.55 7.5-16.55 32.5 0 40l232.94 105.59c6.8 3.08 14.49 3.08 21.29 0L499.59 276.3c16.55-7.5 16.55-32.5 0-40zm0 127.8l-57.87-26.23-161.86 73.37c-7.56 3.43-15.59 5.17-23.86 5.17s-16.29-1.74-23.86-5.17L70.29 337.87 12.41 364.1c-16.55 7.5-16.55 32.5 0 40l232.94 105.59c6.8 3.08 14.49 3.08 21.29 0L499.59 404.1c16.55-7.5 16.55-32.5 0-40z")
      p {{ subcategory.name }}
    template(v-if='subcategory.opened')
      template(v-for='(value, index) in subcategory.child')
        .item(@click='chooseMenuItem(value)')
          svg(aria-hidden="true" focusable="false" data-prefix="fas" data-icon="file" class="svg-inline--fa fa-file fa-w-12 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512")
            path(fill="currentColor" d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm160-14.1v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z")
          p {{ value.name }}
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

const SubcategoryProps = Vue.extend({
  props: {
    subcategory: {
      type: Object,
      required: true
    }
  }
})

@Component({
})
export default class Subcategory extends SubcategoryProps {
  chooseMenuItem(item: any) {
    this.$store.dispatch('setCurrentItem', item);
  }
}
</script>

<style lang='scss' scoped>
  .subcategory {
    margin-left: 28px;
    margin-top: 5px;
    color: #999;

    .name {
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
    }

    .item {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #000;
      margin-left: 28px;
      margin-top: 5px;

      svg {
        width: 15px;
        height: 15px;
        margin-right: 5px;
      }
    }
  }
</style>